body{
    background-color: rgb(171, 218, 85);
    color: rgb(185, 168, 169);
}

body:hover{
    background-color: rgb(48, 19, 65);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.Calculadora{
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4, 83px) ;
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgb(186, 135, 223);
    gap: 5px;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 15px 10px 0px 5px #00000033;
}


.Pantalla{
    width: 280px;
    grid-column: 1 / -1;
    padding: 16px;
    display:flex;
    margin: 10px 20px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(85, 63, 99);
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 10px #00000033;
}

.Pantalla:hover {
    background-color: rgb(171, 218, 85);
}

button{
    cursor: pointer;
    margin: 2px;
    padding: 0;
    font-size: 1.5em;
    border: none;
    background-color: rgb(155, 94, 199);
    color: rgb(171, 218, 85);
    border-radius: 25px;
    box-shadow: 5px 5px 10px -3px #00000048, -5px -5px 15px 3px #2512101f;
}

.botonGrande {
    grid-column: span 2;
}

button:hover{
    background-color: rgb(117, 49, 196);
}

button:active {
    background-color: rgba(161, 23, 80, 0.774);
}




