body{
    background-color: rgb(171, 218, 85);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.Calculadora{
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4, 83px) ;
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgb(186, 135, 223);
    gap: 5px;
    padding: 15px;
}


.Pantalla{
    width: 280px;
    grid-column: 1 / -1;
    padding: 16px;
    display:flex;
    margin: 10px 20px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(85, 63, 99);
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    font-size: 1rem;
}

button{
    cursor: pointer;
    margin: 2px;
    padding: 0;
    font-size: 1.5em;
    border: none;
    background-color: rgb(155, 94, 199);
    color: rgb(171, 218, 85);
}

.botonGrande {
    grid-column: span 2;
}

button:hover{
    background-color: rgb(117, 49, 196);
}


